# IntelliJ
.idea/
# Secrets
*.env*
!.env.sample
*config*.y*ml
*.json
!opencost.sample.json
group_map.yaml
# Allow configmaps
!configmap.yaml
# Tempoary files
tmp*
temp*
!templates
# Terraform
*tfstate*
.terraform
