<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>OCost</title>
</head>
<body>
  <nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <p class="title is-2" style="color:#0888b0; margin-bottom: -22px">OCost</p>
      </a>
    </div>

  </nav>
  <div class="container" style="background-color:#0888b0; height: 10px; max-width: 1344px;">
  </div>

  <section class="section pt-5">
    <div class="container">

      <table class="table is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th><abbr>Namespace</abbr></th>
            <th>Cost (£) / month</th>
          </tr>
        </thead>
        <tbody>

          {{range .tableRows}}
          <tr>
            <th>{{.Namespace}}</th>
            <td>{{.CostPerMonth}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>

    </div>
  </section>
</body>
</html>
