<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>OCost</title>
</head>
<body>
  <nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <p class="title is-2" style="color:#0888b0; margin-bottom: -22px">OCost</p>
      </a>

    </div>
    <div style="background-color:#0888b0; height: 10px">
    </div>
  </nav>

  <section class="section">
    <div class="container">
      <h1 class="title">
        {{ .title }}
      </h1>
      {{range .namespaces}}
      <h2>
        {{ . }}
      </h2>
      {{end}}
    </div>
  </section>
  </body>
</html>
